export(Analyze)
export(ArcLength.plot)
export(ConditionalSimulation)
export(DHfun)
export(Entropy.plot)
export(Hfun)
export(Hfuns.plot)
export(make.dataList)
export(mu.plot)
export(Power.plot)
export(scoreDensity)
export(scorePerformance)
export(Sensitivity.plot)
export(testscore)
export(TG_density.fd)
export(theta.distn)
export(theta2arclen)
export(thetafun)
export(Usimulate)
export(Wpca.plot)
export(Wbinsmth)
export(Wbinsmth.init)
export(Wbinsmth.plot)

import(fda)
import(splines)
import(knitr)
import(rmarkdown)
import(dplyr)
import(stringr)
import(ggplot2)
import(ggpubr)
import(tidyr)
import(utf8)

importFrom("grDevices", "dev.off", "rainbow", "tiff", "pdf", "png")
importFrom("graphics", "lines", "par", "text", "title")
importFrom("stats", "coef", "rmultinom", "approx", "lsfit", "rnorm", "var")
importFrom("rgl", "open3d", "points3d", "texts3d", "axes3d", "aspect3d", "title3d")
importFrom("tidyr", "gather")
importFrom("pracma", "interp1", "cumtrapz")
importFrom("fda", "density.fd")

